<!DOCTYPE html>
<html>
<head>
    <meta name="layout" content="site"/>
    <title>Math Competition Home</title>
</head>

<body>
<div class="jumbotron jumb-margin">
    <div class="container">
        <h1 class="text-center">Math Competition</h1>
    </div>
</div>

<p>Under construction</p>
<p>
    <g:link controller="controllerList">Go to ControllerList</g:link>
</p>

</body>
</html>